{% extends 'projeto/base/base.html' %}
{% load static %}
{% load bootstrap %}
{% block title %} Blog - Contato {% endblock title %}
{% block imageHeader %}
    {% static 'img/contact-bg.jpg' %}
{% endblock imageHeader %}
{% block titlePost %}
    <h1>Contato</h1>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">

            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>Quer entrar em contato? Preencha o formulário abaixo para me enviar uma mensagem e entrarei em
                        contato com você o mais breve possível!</p>
                    {{ form | bootstrap }}
                    <br>
                    <div id="success">
                        {% if sucess %}
                            E-mail enviado com sucesso
                        {% else %}
                            Erro ao enviar seu e-mail !
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>

                </div>
            </form>
        </div>
    </div>

    <hr>
{% endblock %}