{% extends 'projeto/base/base.html' %}
{% block title %} Blog - Home {% endblock title %}
{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for post in object_list %}
        {% if post.status == 'publicado' %}
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.title }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">{{ post.author }}</a>
                    {{ post.published }}</p>
            </div>
            <hr>
        {% endif %}
    {% endfor %}
    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
    </div>


{% endblock content %}





