{% extends 'projeto/base/base.html' %}
{% load static %}
{% block title %} Blog - Editar Postagem {% endblock title %}
{% load bootstrap %}

{% block imageHeader %}
    {% if object.image != null %}
        {{ object.image.url }}
    {% else %}
        {% static 'img/home-bg.jpg' %}
    {% endif %}
{% endblock imageHeader %}

{% block titlePost %}
    <h1>{{ object.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container justify-content-center">
        <div class="card">
            <div class="card-header">
                <h2>Editar Postagem</h2>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">Editar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}